@page "/fetchdata"
@inject HttpClient Http
@using Blazorise.DataGrid

<h1>Azure Retail Price</h1>

<p>Provides a table of prices for various Azure Services</p>

@if (priceResponse == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Region</th>
                <th>SKU</th>
                <th>Price</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var price in priceResponse.Prices)
            {
                <tr>
                    <td>@price.ArmRegionName</td>
                    <td>@price.ArmSkuName</td>
                    <td>@price.UnitPrice</td>
                    <td>@price.EffectiveStartDate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PriceResponse priceResponse;

    protected override async Task OnInitializedAsync()
    {
        priceResponse = await Http.GetFromJsonAsync<PriceResponse>("/api/prices?$filter=contains(skuName%2c%27Spot%27)+and+armRegionName+eq+%27westus2%27");
    }
}
